
body{

    background-image: url('../sub-images/cool_background.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

.application-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.heading-title {
    padding: 20px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.details-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #9DB2BF;
    padding: 50px;
    color: white;

    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(10px);
}

.details-container >input {
    width: 200px;
    height: 30px;
    margin: 10px 0;

}

.invalid {
    color: red;
}

.apply-button{
    width: 150px;
    border-radius: 5px;
}

@media (max-width : 610px){

    .application-container{
        padding: 0;
    }
    .details-container{
        width: 200px;
    }

    .details-container >input {
        width: 150px;
        height: 30px;
        padding: 0 10px;
    
    }



}


@media only screen and (max-width : 350px) {

    .details-container {
        width: 150px;
    }

    .details-container >input {
        width: 150px;
        height: 30px;
        padding: 0 10px;
    
    }
    
}

@media only screen and (max-width : 270px) {




    .details-container {
        width: 100px;
    }

    .details-container >input {
        width: 120px;
        height: 30px;
        padding: 0;
        margin: 10px 0;
    
    }

    .apply-button{
        width: 100px;
        border-radius: 5px;
    }
    
}

@media only screen and (max-width : 220px) {

    .details-container {
        width: 60px;
    }

    .details-container >input {
        width: 80px;
        height: 30px;
        padding: 0;
        margin: 10px 0;
    
    }

    .apply-button{
        width: 60px;
        border-radius: 5px;
    }
    
}

@media only screen and (max-width : 165px) {


    .details-container {
        width: 40px;
        padding: 20px 0;
    }

    .details-container >input {
        width: 60px;
        height: 30px;
        padding: 0;
        margin: 10px 0;
    
    }

    .apply-button{
        width: 50px;
        border-radius: 5px;
    }
    
}